<div class="container" [class.active]="isActive">
  <div class="form-box login">
    <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">
      <h3>Intra in contul de tau EGO-AUTO</h3>
      <div class="input-box">
        <input type="text" formControlName="username" placeholder="Adresa de email" />
        <i class="bx bxs-user"></i>
        <div *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched" class="error">
          Username-ul este obligatoriu.
        </div>
      </div>
      <div class="input-box">
        <input type="password" formControlName="password" placeholder="Parola" />
        <i class="bx bxs-lock-alt"></i>
        <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="error">
          Parola este obligatorie.
        </div>
      </div>
      <div class="forgot-link">
        <a href="#">Ti-ai uitat parola, sef?</a>
      </div>
      <button type="submit" class="btn" [disabled]="loginForm.invalid">Intra in cont</button>
    </form>
  </div>

  <div class="form-box register">
    <form [formGroup]="registerForm" (ngSubmit)="onRegisterSubmit()">
      <h2>Imi fac cont, ce sa fac...</h2>
      <div class="input-box">
        <input type="text" formControlName="username" placeholder="Nume de utilizator" />
        <i class="bx bxs-user"></i>
        <div *ngIf="registerForm.get('username')?.invalid && registerForm.get('username')?.touched" class="error">
          Numele de utilizator este obligatoriu.
        </div>
      </div>
      <div class="input-box">
        <input type="email" formControlName="email" placeholder="Email" />
        <i class="bx bxs-envelope"></i>
        <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched" class="error">
          Email-ul trebuie să fie valid.
        </div>
      </div>
      <div class="input-box">
        <input type="password" formControlName="password" placeholder="Parola" />
        <i class="bx bxs-lock-alt"></i>
        <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched" class="error">
          Parola este obligatorie.
        </div>
      </div>
      <button type="submit" class="btn" [disabled]="registerForm.invalid">Fa-mi un cont!</button>
    </form>
  </div>

  <div class="toggle-box">
    <div class="toggle-panel toggle-left" style="text-align: center;">
      <h1>Salut prietene!<br />Bine ai venit!</h1>
      <p>Nu ai cont? Hai sa-ti faci!</p>
      <button class="btn register-btn" (click)="toggleForm('register')">Hai sa-mi fac cont</button>
    </div>

    <div class="toggle-panel toggle-right" style="text-align: center;">
      <h1>Bine ai revenit!</h1>
      <p>Ai deja cont? Hai sa te loghezi!</p>
      <button class="btn login-btn" (click)="toggleForm('login')">Am cont</button>
    </div>
  </div>
</div>
